@font-face {
  font-family: 'Karla Bold';
  src: url('./fonts/Karla/Karla-Bold.ttf');
}

@font-face {
  font-family: 'Karla BoldItalic';
  src: url('./fonts/Karla/Karla-BoldItalic.ttf');
}

@font-face {
  font-family: 'Karla ExtraBold';
  src: url('./fonts/Karla/Karla-ExtraBold.ttf');
}

@font-face {
  font-family: 'Karla ExtraBoldItalic';
  src: url('./fonts/Karla/Karla-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'Karla Italic';
  src: url('./fonts/Karla/Karla-Italic.ttf');
}

@font-face {
  font-family: 'Karla Light';
  src: url('./fonts/Karla/Karla-Light.ttf');
}

@font-face {
  font-family: 'Karla LightItalic';
  src: url('./fonts/Karla/Karla-LightItalic.ttf');
}

@font-face {
  font-family: 'Karla Medium';
  src: url('./fonts/Karla/Karla-Medium.ttf');
}

@font-face {
  font-family: 'Karla MediumItalic';
  src: url('./fonts/Karla/Karla-MediumItalic.ttf');
}

@font-face {
  font-family: 'Karla Regular';
  src: url('./fonts/Karla/Karla-Regular.ttf');
}

@font-face {
  font-family: 'Karla SemiBold';
  src: url('./fonts/Karla/Karla-SemiBold.ttf');
}

@font-face {
  font-family: 'Karla SemiBoldItalic';
  src: url('./fonts/Karla/Karla-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'AktivGroteskCorp Bold';
  src: url('./fonts/AktivGrotesk/AktivGroteskCorp-Bold.ttf');
}

@font-face {
  font-family: 'AktivGroteskCorp BoldItalic';
  src: url('./fonts/AktivGrotesk/AktivGroteskCorp-BoldItalic.ttf');
}

@font-face {
  font-family: 'AktivGroteskCorp Italic';
  src: url('./fonts/AktivGrotesk/AktivGroteskCorp-Italic.ttf');
}

@font-face {
  font-family: 'AktivGroteskCorp Light';
  src: url('./fonts/AktivGrotesk/AktivGroteskCorp-Light.ttf');
}

@font-face {
  font-family: 'AktivGroteskCorp LightItalic';
  src: url('./fonts/AktivGrotesk/AktivGroteskCorp-LightItalic.ttf');
}

@font-face {
  font-family: 'AktivGroteskCorp Medium';
  src: url('./fonts/AktivGrotesk/AktivGroteskCorp-Medium.ttf');
}

@font-face {
  font-family: 'AktivGroteskCorp MediumItalic';
  src: url('./fonts/AktivGrotesk/AktivGroteskCorp-MediumItalic.ttf');
}

@font-face {
  font-family: 'AktivGroteskCorp Regular';
  src: url('./fonts/AktivGrotesk/AktivGroteskCorp-Regular.ttf');
}

/*.sticky {
  position: fixed;
  top: 0;
}

.smoothContent {
  padding-top: 35px;
}
.menu {
  width: 200px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.menuLink {
  text-decoration: none;
  color: #F49C31;
  border-bottom: 2px solid #FFFBF5;
  margin-left: 25px;
}

.menuLink:hover {
  text-decoration: none;
  color: #F49C31;
  border-bottom: 2px solid #F49C31;
  opacity: 0.6;
}

.menuLink:visited {
  text-decoration: none;
  color: #F49C31;
}*/



body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  color: #4d4d4d;
  font-family: 'AktivGroteskCorp Regular';
  font-size: 16px;
  line-height: 150%;
  margin-top: 30px;
}

header {
  width: 100%;
  padding-bottom: 30px 0 30px 0;
  height: 85px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.headerContent {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu {
  width: 50%;
  font-family: 'Karla Medium';
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.menuLink {
  text-decoration: none;
  color: #F49C31;
  border-bottom: 2px solid #FFFFFF;
  margin: 0 15px;
}

.menuLink:hover {
  text-decoration: none;
  color: #F49C31;
  border-bottom: 2px solid #F49C31;
  opacity: 0.6;
}

.menuLink:visited {
  text-decoration: none;
  color: #F49C31;
}

.noteLink {
  color: #4d4d4d;
  text-decoration: underline;
}

.noteLink:hover {
  opacity: 0.6;
}

.logoContainer {
  width: 50%;;
}

.logo {
  width: 60px;
  height: 45px;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.logo:hover {
  opacity: 0.6;
  transition: 0.3s all;
}

.icon {
  width: 20px;
  height: 20px;
}

.content {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #F49C31;
  border: 1px solid #F49C31;
  border-radius: 8px;
  font-family: 'Karla Bold';
  color: #FFFBF5;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #FFFBF5;
  color: #F49C31;
  transition: 0.5s all;
}

#myBtn {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 98;
  color: #F49C31;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
}

#myBtn:hover{
  opacity: 0.6;
}

.H1 {
  font-family: 'Karla ExtraBold';
  font-size: 42px;
  line-height: 150%;
  padding: 30px 0;
}

.H2 {
  font-family: 'Karla Regular';
  font-size: 28px;
  line-height: 150%;
  padding: 20px 0 20px 0;
}

.hero {
  padding: 120px 0;
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Karla SemiBold';
  font-size: 18px;
  color: #F49C31;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin: 120px 0;
}

.indicatorSpacing {
  padding: 50px 40px;
}

.indicatorLink {
  text-decoration: none;
  color: #F49C31;
}

.indicatorLink:hover {
  text-decoration: none;
  color: #F49C31;
  opacity: 0.6;
  animation: none;
}

.indicatorLink:visited {
  text-decoration: none;
  color: #F49C31;
}

.project {
  padding: 50px 0;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bioText {
  width: 40%;
}

.profilePic {
  width: 45%;
  margin-right: 30px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.xd {
  width: 100%;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projectImage {
  width: 55%;
}

.projectInfo {
  text-align: left;
  line-height: 150%;
  width: 50%;
  padding-left: 30px;
}

.projectName {
  font-family: 'Karla Bold';
  font-size: 32px;
  line-height: 150%;
  margin: 15px 0;
}

.projectButton {
  padding-top: 25px;
}

@media screen and (max-width: 1150px) {
  #myBtn {
    right: 5px;
  }

  .content {
    width: 85%;
  }

  .block {
    width: 100%;
  }

  .project {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projectImage {
    width: 100%;
  }

  .projectInfo {
    width: 95%;
    padding-top: 10px;
    padding-left: 0;
  }

  .projectButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bio {
    flex-direction: column;
  }

  .profilePic {
    width: 95%;
    margin: 30px 0;
    max-height: 450px;
    object-fit: cover;
  }


}

footer {
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 80px 0 80px 0;
  height: 150px;
  z-index: 99;
}

.footerIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  margin: 25px;
}

.footerLink:hover {
  opacity: 0.6;
}

.socialIcon {
  display: flex;
  align-items: center;
  width: 20px;
}

.footerScript {
  font-family: Karla Light;
  color: #F49C31;
}
